@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #0d0d0d;
    --primary-foreground: #fafafa;
    --secondary: #f2f2f2;
    --secondary-foreground: #0d0d0d;
    --muted: #f2f2f2;
    --muted-foreground: #767676;
    --accent: #f2f2f2;
    --accent-foreground: #0d0d0d;
    --destructive: #d93636;
    --destructive-foreground: #fafafa;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #0d0d0d;
    --radius: 0.5rem;
    --chart-1: #ff5733;
    --chart-2: #2ca86c;
    --chart-3: #4d5fb3;
    --chart-4: #6bffb3;
    --chart-5: #ffdb44;
  }

  .dark {
    --background: #090a0b;
    --foreground: #fafafa;
    --card: #090a0b;
    --card-foreground: #fafafa;
    --popover: #090a0b;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #16181a;
    --secondary: #1e1f21;
    --secondary-foreground: #fafafa;
    --muted: #1e1f21;
    --muted-foreground: #a6aab4;
    --accent: #1e1f21;
    --accent-foreground: #fafafa;
    --destructive: #992a1f;
    --destructive-foreground: #fafafa;
    --border: #1e1f21;
    --input: #1e1f21;
    --ring: #d9e0f2;
    --chart-1: #3399ff;
    --chart-2: #33cc99;
    --chart-3: #ffaa33;
    --chart-4: #cc66ff;
    --chart-5: #ff3399;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
